{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "extends": [
    "standard-with-typescript",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/all",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "react/jsx-no-literals": "off",
    "react/no-multi-comp": "off",
    "react/jsx-no-bind": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
